@model WebApplication1.Models.UtentePanel.UtentePanelModel;



<div id="page-content">
    <div class="panel">
        <div class="panel-body">
            <div class="fixed-fluid">
                <div class="fixed-md-200 pull-sm-left fixed-right-border">

                    <!-- Simple profile -->
                    <div class="text-center">
                        <div class="pad-ver">
                            <img src="@Model.Img" class="img-lg img-circle" alt="Profile Picture">
                        </div>
                        <h4 class="text-lg text-overflow mar-no">@Model.Nome</h4>
                        <p class="text-sm text-muted">@Model.Email</p>



                    </div>
                    <hr>

                    <!-- Profile Details -->
                    <p class="pad-ver text-main text-sm text-uppercase text-bold">About Me</p>
                    
                    <p class="text-sm text-center">@Model.Info</p>


                    <hr>
                </div>
                <div class="fluid">
                    @if (Model.Email == Model.Host)
                    {
                        <div class="text-right">
                            <a class="btn btn-sm btn-primary" href="~/EditProfile">Edit Profile</a>
                        </div>
                    }
                    <hr>
                    @foreach (var msg in Model.Messaggi)
                    {
                        <div class="comments media-block">
                            <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@msg.Img"></a>
                            <div class="media-body">
                                <div class="comment-header">
                                    <div><a href="~/userpanel/@msg.Email" class="media-heading box-inline text-main text-semibold">@msg.Nome</a></div>
                                    <p class="text-muted text-sm">@msg.Data</p>
                                </div>
                                <p>@msg.Testo</p>


                                <ul class="comment-content list-inline">
                                    <li><a href="#"><i class="demo-pli-like icon-lg"></i>@msg.Like</a></li>
                                </ul>

                                <!--Comments-->
                                @foreach (var comm in msg.Commenti)
                                {


                                    <div class="comment-body">
                                        <div class="comment-content media">
                                            <a class="media-left" href="#"><img class="img-circle img-xs" alt="Profile Picture" src="@comm.Img"></a>
                                            <div class="media-body">
                                                <div class="comment-header">
                                                    <a href="~/userpanel/@comm.Email" class="text-main text-semibold">@comm.Nome</a>
                                                    <small class="text-muted">@comm.Data</small>
                                                </div>
                                                @comm.TestoCommento
                                            </div>
                                        </div>

                                    </div>
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>